In [21]:
import pandas as pd 
pnews_df  = pd.read_csv("../data/pure_news.csv")
pnews_df.head()

,newsid,category,subcategory,address,summry,url,entities,concepts,content,pure_content
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[],"The Brands Queen Elizabeth, Prince Charles, an...",the brands queen elizabeth prince charles and ...
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...","[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...",50 Worst Habits For Belly Fat These seemingly ...,50 worst habits for belly fat these seemingly ...
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId...",The Cost of Trump's Aid Freeze in the Trenches...,the cost of trumps aid freeze in the trenches ...
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,[],"[{""Label"": ""National Basketball Association"", ...",I Was An NBA Wife. Here's How It Affected My M...,i was an nba wife heres how it affected my men...
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","How to Get Rid of Skin Tags, According to a De...",how to get rid of skin tags according to a der...

In [22]:
behavior_df = pd.read_csv("../data/clean_behaviors.csv")
behavior_df.head()

,behavior_id,user_id,timestamp,history,impressions
0,1,U13740,11/11/2019 9:05:58 AM,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0
1,2,U91836,11/12/2019 6:11:30 PM,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...
2,3,U73700,11/14/2019 7:01:48 AM,N10732 N25792 N7563 N21087 N41087 N5445 N60384...,N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...
3,4,U34670,11/11/2019 5:28:05 AM,N45729 N2203 N871 N53880 N41375 N43142 N33013 ...,N35729-0 N33632-0 N49685-1 N27581-0
4,5,U8125,11/12/2019 4:11:21 PM,N10078 N56514 N14904 N33740,N39985-0 N36050-0 N16096-0 N8400-1 N22407-0 N6...

In [23]:
import random
# تستخدم لتثبيت القيمه العشوائيه
random.seed(1)
# يقوم باختيار رقم معين بطريقه عشوائيه
user_id = random.choice(behavior_df["user_id"])
# يختار مصفوفه معينه بناءا علي اليوزر المختار و يقوم باستخراج سجل تاريخه و يقوم بعمل مصفوفه و وصعه فيه 
user_history = behavior_df.loc[behavior_df["user_id"] == user_id, "history"].iloc[0]
# تقوم بفصل كل كلمه عن الاخري
read_article_ids = user_history.split()
user_id

'U9708'

In [24]:
# يقوم بتصفيه المقالات علي حسب تفضيلات اليوزر
user_articles =  pnews_df[pnews_df['newsid'].isin(read_article_ids)]
# يقوم بتنظيف النص و تطبيق علي بعض الاوامر المخزنه
user_articles_cleaned = " ".join(user_articles["pure_content"])
# سنقوم بتسجيل ملاحظات العملاء عن المقالات
with open ("../result/feedback_users.txt","w") as f:
    f.write(user_articles_cleaned)